  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
            <img src="{{asset('build/images/logo.png')}}" alt="" class="img-fluid">

            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Coordonnées</h4>
              <p>{{company_address}} <br>
              {{company_zipcode}}, {{company_city}}</p>
              <p>Téléphone : <br> {{company_phone1}}</p>
              <p>Email : <br> {{company_email}}</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nos formations</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Permis B</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Conduite accompagnée</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Permis accéléré</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Conduite supervisée</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Perfectionnnement</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Permis Boite Auto</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
          <br> <br>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Permis AM</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Permis A2</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Formation 125</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Stages intensifs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Annulation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Code de la route</a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
      <span>Copyright &copy; <script>
        document.write(new Date().getFullYear())
      </script>, {# Designed &amp; Developed by <a href="https://themefisher.com">Themefisher</a> #}Développeur : Anouar BERROUANE</span>
      </div>
      
    </div>
  </footer><!-- End Footer -->
